*{
    margin: 0;
    padding: 0;
    background-color: rgb(161, 219, 219);
  
}

#titulo{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(88, 96, 103);
    margin-left: 10%;
}

#subtitulo{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(88, 96, 103);
    margin-left: 10%;
}

fieldset{
    border: 0;

}

body{

    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: rgb(5, 5, 52);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;

}

input, select,textarea, button{

    border-radius: 5px;

}

.campo{

    margin-bottom: 1em;

}

.campo label{

    margin-bottom: 0.2em;
    color: rgb(21, 21, 91);
    display: block;

}

fieldset.grupo .campo{

    float: left;
    margin-right: 1em;

}

.campo input [type="text"], .campo input[type="email"], 
.campo input[type="telefone"], 
.campo input[type="github"],
.campo  select, .campo textarea{

    padding: 0.2em;
    border: 1px solid rgb(17, 17, 88);
    box-shadow: 2px 2px 2px  rgb(17, 17, 88);
    display: block;

}
.campo select option{

    padding-right: 1em;

}

.campo input :focus, .campo select :focus, .campo textarea :focus{

    background: rgb(197, 140, 140);
}

.botao{

    font-size: 1.2em;
    background: rgb(50, 81, 130);
    border: 0;
    margin-bottom: 1em;
    color: rgb(223, 237, 237);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(14, 41, 59);
    text-overflow: 1px 1px 1px  rgb(33, 59, 111);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);


}

.botao:hover{

    background: rgb(4, 48, 49);
    box-shadow: inset 2px 2px 2px  rgb(67, 165, 204);
    text-shadow: none;
}
#check{
    display: inline-block;
}